@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000000;
  padding: 20px 0 20px 0;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}
